@media only screen and (max-width: 768px) {
    #products-section {
        display: block;
        float: left;
        width: 90%;
        margin: 5% 5% 0% 5%;
      }
    
      #cart-section {
        display: block;
        float: left;
        width: 90%;
        margin: 5%;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #products-section {
    display: block;
    float: left;
    width: 52%;
    margin: 4%;
  }

  #cart-section {
    display: block;
    float: left;
    width: 36%;
    margin: 4% 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #products-section {
    display: block;
    float: left;
    width: 54%;
    margin: 3%;
  }

  #cart-section {
    display: block;
    float: left;
    width: 37%;
    margin: 3% 0;
  }
}
